@import 'grid';
@import 'font';

// FONTS
$arcon : arcon;

body{
	background:#fff;
	font-family : $arcon;
}

ul,li,h1,h2,h3,h4,h5,h6,p,body{
	padding:0;
	margin:0;
}

header{
	background:#f1f1f1;
	width:100%;
}

.logo-header{
	width:100%;
	padding:10px;
	box-sizing:border-box;
	max-width:400px;
	display:inline-block;
}

.menu-head{
	display:inline-block;
	float:right;
	max-width:500px;
	width:100%;

	ul{
		list-style:none;
		text-align:right;
		padding:10px;

		li{
			display:inline-block;

			&:after{
				content : '|';
				position:relative;
				display:inline-block;
				margin:0 10px;
			}

			&:last-child:after{
				content : '';
			}
		}
	}
}

nav{
	width:100%;
	background:#000;
	float:left;

	ul{
		list-style:none;
		float:left;

		li{
			display:inline-block;
			float:left;

			a{
				color:#fff;
				text-decoration:none;
				text-transform:capitalize;
				padding:15px 20px;
				float:left;
			}
		}
	}	
}

section{
	float:left;
	width:100%;
	padding:15px;
	box-sizing:border-box;
}

button{
	padding:10px;
	background:#75d1f3;
	border:none;
	color:#fff;
}

button:disabled,
button.btn-cancel{
	background:#ccc;
	color:#999;
}

.push-tb{
	margin:10px 0;
}

.form-wrapper{
	padding:10px;
	border:1px solid #ccc;

	label{
		display:inline-block;
		width:40%;
		margin:0 10px 0 0;
		text-transform:capitalize;
		vertical-align:top;
	}

	input, select, textarea{
		padding:5px;
	}

	textarea{
		max-height:80px;
	}

	div{
		padding:5px 0;
	}
}