.grid-container {
  box-sizing: border-box;
  max-width: 100%; }

.row:before, .row:after {
  content: "";
  display: table;
  clear: both; }

div[class*=grid-col-] {
  float: left;
  box-sizing: border-box;
  min-height: 1px;
  padding: 0; }

.grid-col-2 {
  width: 16.667%; }

.grid-col-3 {
  width: 24.64%; }

.grid-col-4 {
  width: 33.33%; }

.grid-col-5 {
  width: 41.667%; }

.grid-col-6 {
  width: 50%; }

.grid-col-7 {
  width: 58.33%; }

.grid-col-8 {
  width: 66.667%; }

.grid-col-9 {
  width: 74.99%; }

.grid-col-10 {
  width: 83.33%; }

.grid-col-11 {
  width: 91.667%; }

.grid-col-12 {
  width: 100%; }

@media (max-width: 540px) {
  .grid-col-sm-6 {
    width: 50%; }
  .grid-col-sm-12 {
    width: 100%; } }

@media (max-width: 350px) {
  .grid-col-xs-12 {
    width: 100%; } }

@font-face {
  font-family: bebasBook;
  src: url("../assets/fonts/BebasNeueBook.ttf"); }

@font-face {
  font-family: bebasBook;
  src: url("../assets/fonts/BebasNeueBook.eot") format("embedded-opentype");
  src: url("../assets/fonts/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/BebasNeueBook.woff") format("woff"), url("../assets/fonts/BebasNeueBook.ttf") format("truetype"), url("../assets/fonts/BebasNeueBook.svg#bebasBook") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: arcon;
  src: url("../assets/fonts/arcon-regular_1-webfont.eot") format("embedded-opentype");
  src: url("../assets/fonts/arcon-regular_1-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/arcon-regular_1-webfont.woff") format("woff"), url("../assets/fonts/arcon-regular_1-webfont.ttf") format("truetype"), url("../assets/fonts/arcon-regular_1-webfont.svg#arcon") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background: #fff;
  font-family: arcon; }

ul, li, h1, h2, h3, h4, h5, h6, p, body {
  padding: 0;
  margin: 0; }

div[class*=icon-] {
  font-size: 12pt; }

header {
  background: #f1f1f1;
  width: 100%; }

.logo-header {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  max-width: 400px;
  display: inline-block; }

.menu-head {
  display: inline-block;
  float: right;
  max-width: 500px;
  width: 100%; }

.menu-head ul {
  list-style: none;
  text-align: right;
  padding: 10px; }

.menu-head ul li {
  display: inline-block; }

.menu-head ul li:after {
  content: '|';
  position: relative;
  display: inline-block;
  margin: 0 10px; }

.menu-head ul li:last-child:after {
  content: ''; }

nav {
  width: 100%;
  background: #000;
  float: left; }

nav ul {
  list-style: none;
  float: left;
  position: relative; }

nav ul li {
  display: inline-block;
  float: left; }

nav ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  padding: 15px 20px;
  float: left; }

nav ul li:hover ul {
  display: block; }

nav ul li ul {
  position: absolute;
  background: #999;
  display: none;
  z-index: 2;
  top: 50px;
  width: 150px; }

nav ul li ul li {
  display: block;
  width: 100%; }

section {
  float: left;
  width: 100%;
  padding: 15px;
  box-sizing: border-box; }

button {
  padding: 10px;
  background: #75d1f3;
  border: none;
  color: #fff;
  cursor: pointer; }

button:disabled, button.btn-cancel {
  background: #ccc;
  color: #999; }

.push-tb {
  margin: 10px 0; }

input, select, textarea {
  padding: 5px;
  width: 100%;
  min-width: 150px;
  max-width: 250px; }

.form-wrapper {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc; }

.form-wrapper label {
  display: inline-block;
  width: 40%;
  margin: 0 10px 0 0;
  text-transform: capitalize;
  vertical-align: top; }

.form-wrapper textarea {
  max-height: 50px; }

.form-wrapper div {
  padding: 5px 0; }

.layer-loading {
  position: relative; }

.layer-loading:before {
  margin: -10px;
  content: '';
  position: absolute;
  box-sizing: border-box;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%; }

.layer-loading .outer {
  margin: 0 auto;
  padding: 40% 0;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: inline-block; }

.table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse; }

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit; }

thead tr {
  border-bottom: 2px solid #999; }

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  border-bottom: 1px solid #ccc;
  line-height: 25pt; }

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit; }
