<section class="content-wrapper">
	<div>
		<!-- <button>Add New Product</button> -->
		<button class="btn-cancel">Cancel</button>
	</div>
	<div class="grid-container">
		<div class="row">
			<div class="grid-col-6 grid-col-sm-12">
				<h3 class="push-tb">ADD NEW CATEGORY</h3>
				<div class="form-wrapper">
					<div>
						<label for="">Rank</label>
						<input type="text" name="input_rank" id="input_rank">
					</div>
					<div>
						<label for="">Name</label>
						<input type="text" name="input_name" id="input_name">
					</div>
					<div>
						<button id="btn_save_category">Save</button>
						<button class="btn-cancel">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>