<section class="content-wrapper">
	<div>
		<button onClick="window.location.hash='product_add'">Add New Category</button>
	</div>
	<div class="grid-container">
		<div class="row">
			<div class="grid-col-12">						
				<h3 class="push-tb">MENU LIST</h3>
				<div class="">
					<button id="btn-prev">
						<div class="icon-angle-left"></div>
					</button>
					<button id="btn-next">
						<div class="icon-angle-right"></div>
					</button>
					<input type="text" placeholder="Search Code" id="input-search">
					<button id="btn-search">Search</button>
				</div>
				<table class="table">
					<thead>
						<tr>
							<td>ID</td>
							<td>Menu</td>
							<td>Name</td>
							<td>Content</td>
							<td>Action</td>
						</tr>
					</thead>
					<tbody>
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>

<!--<script src="./script/app/product.js"></script>-->